/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown-content {
  pointer-events: none;
  transform: scale(0.95);
  opacity: 0;
  transition-duration: 100ms;
  transition-timing-function: ease-in;
}

.dropdown:hover > .dropdown-content {
  pointer-events: auto;
  display: block;
  transform: scale(1);
  animation: fade-in-up 0.2s;
  opacity: 1;
  transition-duration: 200ms;
}
